*{
    margin:0px;
    padding:0px;
}
.all_sys{
    display:flex;
    /* padding:0vh 3vw 0vh 3vw; */
    z-index: 1;
}
.fn1{
    display:flex;
    background-color: orange;
    justify-content: center;
    align-items: center;
    color:white;
    width:48vw;
    
}
.fn1_li{
    display:flex;
    list-style: none;
    margin:1.5vw 2vw 1.5vw 2vw;
    /* background-color: blueviolet; */
    /* position:relative; */
    height:100%;
    align-items: center;
    justify-content: center;
    align-items: center;
    /* padding:0.1vw; */
    overflow: hidden;
    width:5vw;
    transition-duration: 0.2s;
    cursor: pointer;
    
}
.fn1_li:hover{
    background-color: rgb(206, 11, 122);
}

.al11{
    /* height:15vh; */
    display:flex;
    align-items:center;
    justify-content: center;
    background-color: orange;
    color: white;
    font-size: 2.3rem;
    
}
